# Boradgame Recommender

## 1. Business Understanding

**BoardGameGeek** is a comprehensive online database that catalogues over 125,600 board games, providing access to reviews, discussion forums, and detailed information on individual titles. It is widely recognized as the most extensive repository of board game data available. In addition to serving as an information resource, the platform enables users to rate games on a 1–10 scale and to manage their personal game collections.

The aim of this project is to build a recommender system that uses data gathered from BoardGameGeek to generate board game recommendations based on user ratings. 

jatka jotain kun tiedetään mitä tehdään

## 2. Data Understanding

Feature-rich multi-table dataset full of interesting information about Board Games:
[Board Games Database (BoardGameGeek, Kaggle)](https://www.kaggle.com/datasets/threnjen/board-games-database-from-boardgamegeek)

This data set includes nine potential files for exploration and/or modeling. The files are as follows:

- GAMES - the basic information file with 47 features about each of 22k board games. Primary key is BGGId which is the BoardGameGeek game id.
- RATINGS_DISTRIBTION - includes full ratings distribution for each BGGId
- THEMES - table of themes for each BGGId
- MECHANICS - table of mechanics with binary flags per BGGId
- SUBCATEGORIES - table of subcategories with binary flags per BGGId
- ARTISTS_REDUCED - gives artist information for each BGGId. This file is reduced to artists with >3 works, with a binary flag indicating the game included an artist with <= 3 works
- DESIGNERS_REDUCED - gives designer information for each BGGId. This file is reduced to designers with >3 works, with a binary flag indicating the game included a designer with <= 3 works
- PUBLISHERS_REDUCED - gives publisher information for each BGGId. This file is reduced to publishers with >3 works, with a binary flag indicating the game included a publisher with <= 3 works
- USER_RATINGS - has all ratings for all BGGId with username. There are over 411k unique users and ~19 million ratings. Use in recommender system.

Source for the dataset:  
[BoardGameGeek](https://boardgamegeek.com/)

kerrotaan miten importataan data

In [74]:
# Install dependencies as needed:
# pip install kagglehub[pandas-datasets]
import kagglehub
import os
import pandas as pd

path = kagglehub.dataset_download("threnjen/board-games-database-from-boardgamegeek")

#TODO: tuo vaan ne mitä päädytään käyttämään, laita omiin blokkeihin ja selitykset ekaksi markdownina

# df_artists = pd.read_csv(os.path.join(path, "artists_reduced.csv"))
# display(df_artists.head())
# 
# df_designers = pd.read_csv(os.path.join(path, "designers_reduced.csv"))
# display(df_designers.head())

df_games = pd.read_csv(os.path.join(path, "games.csv"))
display(df_games.head())

# df_mechanics = pd.read_csv(os.path.join(path, "mechanics.csv"))
# display(df_mechanics.head())
# 
# df_publishers = pd.read_csv(os.path.join(path, "publishers_reduced.csv"))
# display(df_publishers.head())

# df_ratings_distribution = pd.read_csv(os.path.join(path, "ratings_distribution.csv"))
# display(df_ratings_distribution.head())

# df_subcategories = pd.read_csv(os.path.join(path, "subcategories.csv"))
# display(df_subcategories.head())

# df_themes = pd.read_csv(os.path.join(path, "themes.csv"))
# display(df_themes.head())

df_user_ratings = pd.read_csv(os.path.join(path, "user_ratings.csv"))
display(df_user_ratings.head())

# For the documentation file, just preview as text (not tabular)
# with open(os.path.join(path, "bgg_data_documentation.txt"), "r", encoding="utf-8") as f:
#     bgg_documentation = f.read()
# print(bgg_documentation[:500])  # first 500 characters

,BGGId,Name,Description,YearPublished,GameWeight,AvgRating,BayesAvgRating,StdDev,MinPlayers,MaxPlayers,...,Rank:partygames,Rank:childrensgames,Cat:Thematic,Cat:Strategy,Cat:War,Cat:Family,Cat:CGS,Cat:Abstract,Cat:Party,Cat:Childrens
0,1,Die Macher,die macher game seven sequential political rac...,1986,4.3206,7.61428,7.10363,1.57979,3,5,...,21926,21926,0,1,0,0,0,0,0,0
1,2,Dragonmaster,dragonmaster tricktaking card game base old ga...,1981,1.9630,6.64537,5.78447,1.45440,3,4,...,21926,21926,0,1,0,0,0,0,0,0
2,3,Samurai,samurai set medieval japan player compete gain...,1998,2.4859,7.45601,7.23994,1.18227,2,4,...,21926,21926,0,1,0,0,0,0,0,0
3,4,Tal der Könige,triangular box luxurious large block tal der k...,1992,2.6667,6.60006,5.67954,1.23129,2,4,...,21926,21926,0,0,0,0,0,0,0,0
4,5,Acquire,acquire player strategically invest business t...,1964,2.5031,7.33861,7.14189,1.33583,2,6,...,21926,21926,0,1,0,0,0,0,0,0

    BGGId  Rating     Username
0  213788     8.0    Tonydorrf
1  213788     8.0   tachyon14k
2  213788     8.0     Ungotter
3  213788     8.0  brainlocki3
4  213788     8.0         PPMP

GAMES
	BGGId			BoardGameGeek game ID
	Name			Name of game
	Description		Description, stripped of punctuation and lemmatized
	YearPublished		First year game published
	GameWeight		Game difficulty/complexity
	AvgRating		Average user rating for game
	BayesAvgRating		Bayes weighted average for game (x # of average reviews applied)
	StdDev			Standard deviation of Bayes Avg
	MinPlayers		Minimum number of players
	MaxPlayers		Maximun number of players
	ComAgeRec		Community's recommended age minimum
	LanguageEase		Language requirement
	BestPlayers		Community voted best player count
	GoodPlayers		List of community voted good plater counts
	NumOwned		Number of users who own this game
	NumWant			Number of users who want this game
	NumWish			Number of users who wishlisted this game
	NumWeightVotes		? Unknown
	MfgPlayTime		Manufacturer Stated Play Time
	ComMinPlaytime		Community minimum play time
	ComMaxPlaytime		Community maximum play time
	MfgAgeRec		Manufacturer Age Recommendation
	NumUserRatings		Number of user ratings
	NumComments		Number of user comments
	NumAlternates		Number of alternate versions
	NumExpansions		Number of expansions
	NumImplementations	Number of implementations
	IsReimplementation	Binary - Is this listing a reimplementation? 
	Family			Game family
	Kickstarted		Binary - Is this a kickstarter?
	ImagePath		Image http:// path
	Rank:boardgame		Rank for boardgames overall
	Rank:strategygames	Rank in strategy games
	Rank:abstracts		Rank in abstracts
	Rank:familygames	Rank in family games
	Rank:thematic		Rank in thematic
	Rank:cgs		Rank in card games
	Rank:wargames		Rank in war games
	Rank:partygames		Rank in party games
	Rank:childrensgames	Rank in children's games
	Cat:Thematic		Binary is in Thematic category
	Cat:Strategy		Binary is in Strategy category
	Cat:War			Binary is in War category
	Cat:Family		Binary is in Family category
	Cat:CGS			Binary is in Card Games category
	Cat:Abstract		Binary is in Abstract category
	Cat:Party		Binary is in Party category
	Cat:Childrens		Binary is in Childrens category


MECHANICS
	BGGId			BoardGameGeek game ID	
	Remaining headers are various mechanics with binary flag


THEMES
	BGGId			BoardGameGeek game ID
	Remaining headers are various themes with binary flag


SUBCATEGORIES
	BGGId			BoardGameGeek game ID
	Remaining headers are various subcategories with binary flag


ARTISTS_REDUCED
	BGGId			BoardGameGeek game ID
	Low-Exp Artist		Indicates game has an unlisted artist with <= 3 entries
	Remaining headers are various artists with binary flag


DESIGNERS_REDUCED
	BGGId			BoardGameGeek game ID
	Low-Exp Designer	Indicates game has an unlisted designer with <= 3 entries
	Remaining headers are various subcategories with binary flag


PUBLISHERS_REDUCED
	BGGId			BoardGameGeek game ID
	Low-Exp Publisher	Indicated games has an unlisted publisher with <= 3 entries
	Remaining headers are various subcategories with binary flag


USER_RATINGS
	BGGId			BoardGameGeek game ID	
	Rating			Raw rating given by user
	Username		User giving rating


RATINGS_DISTRIBUTION
	BGGId			BoardGameGeek game ID
	Numbers 0.0-10.0	Number of ratings per rating header
	total_ratings		Total number of ratings for game

## 3. Data Preparation

Tekstiä, mitä tehdään seuraavaksi

In [75]:
from surprise import Reader, Dataset

# Create dataframe for users
df_users=pd.DataFrame()
df_users["Username"]= df_user_ratings["Username"].unique()
df_users.insert(0, 'UserId', range(0, len(df_users))) 

# Replace username with Id in ratings df
id_map = dict(zip(df_users["Username"], df_users["UserId"]))
df_user_ratings["UserId"] = df_user_ratings["Username"].map(id_map)
df_user_ratings.drop(columns="Username", inplace=True)

# Create column for ratings count for users
counts = df_user_ratings.groupby("UserId").size().reset_index(name="RatingCount")
df_users = df_users.merge(counts, on="UserId", how="left")

#TODO: printtejä

display(len(df_users))
display(df_users.head())

display(df_user_ratings.head())

display(df_users[df_users["Username"] == "TeemuVataja"])

411375

   UserId     Username  RatingCount
0       0    Tonydorrf          253
1       1   tachyon14k           59
2       2     Ungotter           20
3       3  brainlocki3           44
4       4         PPMP          184

    BGGId  Rating  UserId
0  213788     8.0       0
1  213788     8.0       1
2  213788     8.0       2
3  213788     8.0       3
4  213788     8.0       4

      UserId     Username  RatingCount
5854    5854  TeemuVataja          206

In [76]:
display(f"Length of users set before reduction: {len(df_users)}")

df_users_reduced = df_users[df_users['RatingCount'] >= 10]

display(f"Length of users set after reduction: {len(df_users_reduced)}")

'Length of users set before reduction: 411375'

'Length of users set after reduction: 224605'

In [77]:
display(f"Length of games set before reduction: {len(df_games)}")

df_games_reduced = df_games[df_games['NumUserRatings'] >= 100]

display(f"Length of games set after reduction: {len(df_games_reduced)}")

'Length of games set before reduction: 21925'

'Length of games set after reduction: 12239'

In [78]:
display(f"Length of ratings set before reduction: {len(df_user_ratings)}")

df_ratings_reduced = df_user_ratings[df_user_ratings["BGGId"].isin(df_games_reduced["BGGId"])]
df_ratings_reduced = df_ratings_reduced[df_ratings_reduced["UserId"].isin(df_users_reduced["UserId"])]

display(f"Length of ratings set after reduction: {len(df_ratings_reduced)}")

print(len(df_ratings_reduced[df_ratings_reduced["UserId"] == 5854]))
print(5854 in df_ratings_reduced["UserId"].unique())

'Length of ratings set before reduction: 18942215'

'Length of ratings set after reduction: 17849779'

198
True

selitetään juttuja

In [79]:
reader = Reader(rating_scale=(0.0, 10.0)) 
data = Dataset.load_from_df(df_ratings_reduced[['UserId','BGGId', 'Rating']], reader)

#TODO: jotain fiksumpaa printtiä

display(data)

mitä nyt tehdään

In [80]:
from surprise import KNNBasic, SVD, dump
import os

trainset = data.build_full_trainset()

if not os.path.exists("model.pkl"):

    sim_options = {
        'name': 'cosine',
        'user_based': True,
    }
    
    # item x item matrix
    
    algo = SVD(n_factors=50)
    algo.fit(trainset)
    
    # user x user matrix
    
    # algo = KNNBasic(k=10,sim_options=sim_options)
    # algo.fit(trainset)
    
    dump.dump('model.pkl', algo=algo)

_, algo = dump.load('model.pkl')

In [81]:
# def user_predictions(username):
#     user_id = id_map.get(username)
#     inner_id = trainset.to_inner_uid(user_id)
#     
#     user_items = set([j for (j, _) in trainset.ur[inner_id]])  # items rated by user
#     all_items = set(range(trainset.n_items))
#     unseen_items = all_items - user_items
#     
#     # Build a test set only for that user
#     testset = [(user_id, trainset.to_raw_iid(i), 0.) for i in unseen_items]
# 
#     # Get predictions for this user
#     predictions = algo.test(testset)
#     
#     return predictions

from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

def top_similar_users(user_id, top_n=10):
    """
    Returns top-N similar users to a given user_id.
    user_id: raw user ID
    """
    try:
        inner_uid = trainset.to_inner_uid(user_id)
    except ValueError:
        return []

    user_vec = algo.pu[inner_uid].reshape(1, -1)
    sims = cosine_similarity(user_vec, algo.pu)[0]

    # Exclude self
    top_inner = np.argsort(-sims)[1:top_n+1]
    return [trainset.to_raw_uid(i) for i in top_inner]


def user_predictions(username, top_n_items=None):
    """
    Predict ratings for all unseen items for a given username.
    Optionally, return only top-N items.
    """
    # Map username -> internal ID
    user_id = id_map.get(username)
    inner_id = trainset.to_inner_uid(user_id)

    # Items already rated by user
    user_items = set([j for (j, _) in trainset.ur[inner_id]])
    all_items = set(range(trainset.n_items))
    unseen_items = all_items - user_items

    # Build test set (user x unseen items)
    testset = [(user_id, trainset.to_raw_iid(i), 0.) for i in unseen_items]

    # Get predictions
    predictions = algo.test(testset)

    # Optionally keep top-N items
    if top_n_items:
        predictions = sorted(predictions, key=lambda x: x.est, reverse=True)[:top_n_items]

    return predictions


def user_predictions_from_similar(username, top_n_users=5, top_n_items=10):
    """
    Predict items for a user based on items liked by similar users.
    """
    user_id = id_map.get(username)
    similar_users = top_similar_users(user_id, top_n=top_n_users)

    # Collect items rated by similar users
    similar_items = set()
    for su in similar_users:
        inner_uid = trainset.to_inner_uid(su)
        similar_items.update([trainset.to_raw_iid(iid) for (iid, _) in trainset.ur[inner_uid]])

    # Filter out items already rated by target user
    inner_uid_target = trainset.to_inner_uid(user_id)
    user_items = set([trainset.to_raw_iid(iid) for (iid, _) in trainset.ur[inner_uid_target]])
    candidate_items = similar_items - user_items

    # Build test set and predict
    testset = [(user_id, iid, 0.) for iid in candidate_items]
    predictions = algo.test(testset)
    predictions = sorted(predictions, key=lambda x: x.est, reverse=True)[:top_n_items]

    return predictions


username = "TeemuVataja"
predictions = user_predictions_from_similar(username)

top10 = sorted(predictions, key=lambda x: x.est, reverse=True)[:10]
for pred in top10:
    # iid = trainset.to_raw_iid(pred.iid)
    print(pred.iid, pred.est)
    display(df_games_reduced[df_games_reduced["BGGId"] == pred.iid])

124742 9.505201494831502

,BGGId,Name,Description,YearPublished,GameWeight,AvgRating,BayesAvgRating,StdDev,MinPlayers,MaxPlayers,...,Rank:partygames,Rank:childrensgames,Cat:Thematic,Cat:Strategy,Cat:War,Cat:Family,Cat:CGS,Cat:Abstract,Cat:Party,Cat:Childrens
11540,124742,Android: Netrunner,welcome new angeles home beanstalk branch offi...,2012,3.3933,7.87621,7.66949,1.66128,2,2,...,21926,21926,0,0,0,0,1,0,0,0

155821 9.223441183451557

,BGGId,Name,Description,YearPublished,GameWeight,AvgRating,BayesAvgRating,StdDev,MinPlayers,MaxPlayers,...,Rank:partygames,Rank:childrensgames,Cat:Thematic,Cat:Strategy,Cat:War,Cat:Family,Cat:CGS,Cat:Abstract,Cat:Party,Cat:Childrens
13315,155821,Inis,ini game deeply root celtic history lore playe...,2016,2.8789,7.81387,7.50439,1.48299,2,4,...,21926,21926,0,1,0,0,0,0,0,0

233078 9.208490447929702

,BGGId,Name,Description,YearPublished,GameWeight,AvgRating,BayesAvgRating,StdDev,MinPlayers,MaxPlayers,...,Rank:partygames,Rank:childrensgames,Cat:Thematic,Cat:Strategy,Cat:War,Cat:Family,Cat:CGS,Cat:Abstract,Cat:Party,Cat:Childrens
17834,233078,Twilight Imperium: Fourth Edition,twilight imperium fourth edition game galactic...,2017,4.2497,8.67916,8.25955,1.6064,3,6,...,21926,21926,1,1,0,0,0,0,0,0

175914 8.916040499010627

,BGGId,Name,Description,YearPublished,GameWeight,AvgRating,BayesAvgRating,StdDev,MinPlayers,MaxPlayers,...,Rank:partygames,Rank:childrensgames,Cat:Thematic,Cat:Strategy,Cat:War,Cat:Family,Cat:CGS,Cat:Abstract,Cat:Party,Cat:Childrens
14619,175914,Food Chain Magnate,quotlemonade want lemonade world come want com...,2015,4.2,8.1166,7.83205,1.58484,2,5,...,21926,21926,0,1,0,0,0,0,0,0

187645 8.914241129764594

,BGGId,Name,Description,YearPublished,GameWeight,AvgRating,BayesAvgRating,StdDev,MinPlayers,MaxPlayers,...,Rank:partygames,Rank:childrensgames,Cat:Thematic,Cat:Strategy,Cat:War,Cat:Family,Cat:CGS,Cat:Abstract,Cat:Party,Cat:Childrens
15360,187645,Star Wars: Rebellion,star war rebellion board game epic conflict ga...,2016,3.7229,8.42432,8.17121,1.36603,2,4,...,21926,21926,1,0,0,0,0,0,0,0

103343 8.848561325132405

,BGGId,Name,Description,YearPublished,GameWeight,AvgRating,BayesAvgRating,StdDev,MinPlayers,MaxPlayers,...,Rank:partygames,Rank:childrensgames,Cat:Thematic,Cat:Strategy,Cat:War,Cat:Family,Cat:CGS,Cat:Abstract,Cat:Party,Cat:Childrens
10875,103343,A Game of Thrones: The Board Game (Second Edit...,game description publisherking robert baratheo...,2011,3.7218,7.58275,7.37589,1.52745,3,6,...,21926,21926,0,1,0,0,0,0,0,0

175155 8.813647580375257

,BGGId,Name,Description,YearPublished,GameWeight,AvgRating,BayesAvgRating,StdDev,MinPlayers,MaxPlayers,...,Rank:partygames,Rank:childrensgames,Cat:Thematic,Cat:Strategy,Cat:War,Cat:Family,Cat:CGS,Cat:Abstract,Cat:Party,Cat:Childrens
14556,175155,Forbidden Stars,shift warp storm surround long lose herakon cl...,2015,3.8275,7.96845,7.47181,1.4491,2,4,...,21926,21926,0,1,0,0,0,0,0,0

167791 8.729615849398941

,BGGId,Name,Description,YearPublished,GameWeight,AvgRating,BayesAvgRating,StdDev,MinPlayers,MaxPlayers,...,Rank:partygames,Rank:childrensgames,Cat:Thematic,Cat:Strategy,Cat:War,Cat:Family,Cat:CGS,Cat:Abstract,Cat:Party,Cat:Childrens
14059,167791,Terraforming Mars,s mankind begin terraform planet mar giant cor...,2016,3.2441,8.41879,8.27421,1.38764,1,5,...,21926,21926,0,1,0,0,0,0,0,0

115746 8.700595709848132

,BGGId,Name,Description,YearPublished,GameWeight,AvgRating,BayesAvgRating,StdDev,MinPlayers,MaxPlayers,...,Rank:partygames,Rank:childrensgames,Cat:Thematic,Cat:Strategy,Cat:War,Cat:Family,Cat:CGS,Cat:Abstract,Cat:Party,Cat:Childrens
11220,115746,War of the Ring: Second Edition,war ring player take control free people fp pl...,2012,4.174,8.50988,8.13104,1.48272,2,4,...,21926,21926,1,0,1,0,0,0,0,0

12493 8.69520925149072

,BGGId,Name,Description,YearPublished,GameWeight,AvgRating,BayesAvgRating,StdDev,MinPlayers,MaxPlayers,...,Rank:partygames,Rank:childrensgames,Cat:Thematic,Cat:Strategy,Cat:War,Cat:Family,Cat:CGS,Cat:Abstract,Cat:Party,Cat:Childrens
5503,12493,Twilight Imperium: Third Edition,twilight imperium edition epic empirebuilde ga...,2005,4.2535,7.82716,7.56215,1.70194,3,6,...,21926,21926,1,1,0,0,0,0,0,0

In [82]:
# def get_predictions_for_user(user_id):
#     user_rated = df_games_reduced[df_games_reduced["BGGId"].isin(df_ratings_reduced[df_ratings_reduced["UserId"] == user_id])]
#     display(len(user_rated))
#     for i in df_games_reduced["BGGId"]:
#         pred = algo.predict(user_id, i, verbose=True)

In [83]:

from collections import defaultdict


def get_top_n(predictions, n=10):
    """Return the top-N recommendation for each user from a set of predictions.

    Args:
        predictions(list of Prediction objects): The list of predictions, as
            returned by the test method of an algorithm.
        n(int): The number of recommendation to output for each user. Default
            is 10.

    Returns:
    A dict where keys are user (raw) ids and values are lists of tuples:
        [(raw item id, rating estimation), ...] of size n.
    """

    # First map the predictions to each user.
    top_n = defaultdict(list)
    for uid, iid, true_r, est, _ in predictions:
        top_n[uid].append((iid, est))

    # Then sort the predictions for each user and retrieve the k highest ones.
    for uid, user_ratings in top_n.items():
        user_ratings.sort(key=lambda x: x[1], reverse=True)
        top_n[uid] = user_ratings[:n]

    return top_n


# top_n = get_top_n(predictions, n=2)
# 
# # Print the recommended items for each user
# for uid, user_ratings in top_n.items():
#     print(uid, [iid for (iid, _) in user_ratings])


#username = "TeemuVataja"
#pred = algo.predict(username, , verbose=True)

## 4. Modeling

## 5. Evaluation

## 6. Deployment