In [208]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from scipy.io import arff

cols = []
with open("chronic_kidney_disease.arff", "r") as f:
    for line in f:
        line = line.strip()
        if line.lower().startswith("@attribute"):
            parts = line.split()
            colname = parts[1].strip("'\"") 
            cols.append(colname)
        elif line.lower().startswith("@data"):
            break

df = pd.read_csv(
    "chronic_kidney_disease.arff",
    comment="@",
    header=None,
    names=cols,
    na_values=["?", " "],
    engine="python",
    on_bad_lines="skip"
)

df.head()

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wbcc,rbcc,htn,dm,cad,appet,pe,ane,class
0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,121.0,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,NaN,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [209]:
filtered_data = df.drop(columns=["rbc", "pc", "pcc", "ba", "sc", "htn", "dm", "cad", "appet", "pe", "ane"])
filtered_data.head()

,age,bp,sg,al,su,bgr,bu,sod,pot,hemo,pcv,wbcc,rbcc,class
0,48.0,80.0,1.020,1.0,0.0,121.0,36.0,NaN,NaN,15.4,44,7800,5.2,ckd
1,7.0,50.0,1.020,4.0,0.0,NaN,18.0,NaN,NaN,11.3,38,6000,NaN,ckd
2,62.0,80.0,1.010,2.0,3.0,423.0,53.0,NaN,NaN,9.6,31,7500,NaN,ckd
3,48.0,70.0,1.005,4.0,0.0,117.0,56.0,111.0,2.5,11.2,32,6700,3.9,ckd
4,51.0,80.0,1.010,2.0,0.0,106.0,26.0,NaN,NaN,11.6,35,7300,4.6,ckd

In [210]:
filtered_data["hemo"] = filtered_data["hemo"] / 10
filtered_data.head()

,age,bp,sg,al,su,bgr,bu,sod,pot,hemo,pcv,wbcc,rbcc,class
0,48.0,80.0,1.020,1.0,0.0,121.0,36.0,NaN,NaN,1.54,44,7800,5.2,ckd
1,7.0,50.0,1.020,4.0,0.0,NaN,18.0,NaN,NaN,1.13,38,6000,NaN,ckd
2,62.0,80.0,1.010,2.0,3.0,423.0,53.0,NaN,NaN,0.96,31,7500,NaN,ckd
3,48.0,70.0,1.005,4.0,0.0,117.0,56.0,111.0,2.5,1.12,32,6700,3.9,ckd
4,51.0,80.0,1.010,2.0,0.0,106.0,26.0,NaN,NaN,1.16,35,7300,4.6,ckd

In [211]:
filtered_data["class"].replace("notckd", "c", inplace=True)
filtered_data["class"].replace("ckd", "a", inplace=True)
filtered_data.head()

/tmp/ipykernel_6443/2404495567.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  filtered_data["class"].replace("notckd", "c", inplace=True)
/tmp/ipykernel_6443/2404495567.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  filtered_data["class"].replace("ckd", "a", inplace=True)

,age,bp,sg,al,su,bgr,bu,sod,pot,hemo,pcv,wbcc,rbcc,class
0,48.0,80.0,1.020,1.0,0.0,121.0,36.0,NaN,NaN,1.54,44,7800,5.2,a
1,7.0,50.0,1.020,4.0,0.0,NaN,18.0,NaN,NaN,1.13,38,6000,NaN,a
2,62.0,80.0,1.010,2.0,3.0,423.0,53.0,NaN,NaN,0.96,31,7500,NaN,a
3,48.0,70.0,1.005,4.0,0.0,117.0,56.0,111.0,2.5,1.12,32,6700,3.9,a
4,51.0,80.0,1.010,2.0,0.0,106.0,26.0,NaN,NaN,1.16,35,7300,4.6,a

In [212]:
# print(filtered_data.shape)
filtered_data.dropna(thresh=12, inplace=True)
# print(filtered_data.shape)
filtered_data.head()

,age,bp,sg,al,su,bgr,bu,sod,pot,hemo,pcv,wbcc,rbcc,class
0,48.0,80.0,1.020,1.0,0.0,121.0,36.0,NaN,NaN,1.54,44,7800,5.2,a
3,48.0,70.0,1.005,4.0,0.0,117.0,56.0,111.0,2.5,1.12,32,6700,3.9,a
4,51.0,80.0,1.010,2.0,0.0,106.0,26.0,NaN,NaN,1.16,35,7300,4.6,a
5,60.0,90.0,1.015,3.0,0.0,74.0,25.0,142.0,3.2,1.22,39,7800,4.4,a
6,68.0,70.0,1.010,0.0,0.0,100.0,54.0,104.0,4.0,1.24,36,NaN,NaN,a

In [213]:
affected = filtered_data[filtered_data['class'] == 'a']
not_affected = filtered_data[filtered_data['class'] == 'c']

In [214]:
affected.describe()

,age,bp,sg,al,su,bgr,bu,sod,pot,hemo
count,123.000000,124.000000,125.000000,126.000000,126.000000,120.000000,125.000000,109.000000,109.000000,125.000000
mean,56.902439,80.806452,1.013600,1.857143,0.777778,179.941667,80.444000,133.770642,4.748624,1.061440
std,14.979447,15.803508,0.004561,1.429485,1.337992,93.631703,60.477776,7.642029,4.184221,0.214719
min,4.000000,50.000000,1.005000,0.000000,0.000000,22.000000,1.500000,104.000000,2.500000,0.310000
25%,49.500000,70.000000,1.010000,1.000000,0.000000,107.000000,37.000000,132.000000,3.800000,0.950000
50%,60.000000,80.000000,1.015000,2.000000,0.000000,156.500000,60.000000,136.000000,4.200000,1.080000
75%,65.000000,90.000000,1.015000,3.000000,1.000000,239.500000,107.000000,139.000000,4.900000,1.200000
max,90.000000,180.000000,1.025000,5.000000,5.000000,490.000000,322.000000,145.000000,47.000000,1.610000

In [215]:
not_affected.describe()

,age,bp,sg,al,su,bgr,bu,sod,pot,hemo
count,138.000000,136.000000,138.000000,138.0,138.0,134.000000,134.000000,135.000000,135.000000,136.000000
mean,46.362319,71.323529,1.022500,0.0,0.0,107.388060,32.761194,141.718519,4.341481,1.520000
std,15.774387,8.590160,0.002509,0.0,0.0,18.818049,11.449910,4.806171,0.594174,0.128195
min,12.000000,60.000000,1.020000,0.0,0.0,70.000000,10.000000,135.000000,3.300000,1.300000
25%,34.000000,60.000000,1.020000,0.0,0.0,93.000000,23.250000,138.000000,3.700000,1.410000
50%,46.000000,70.000000,1.022500,0.0,0.0,107.500000,32.500000,141.000000,4.500000,1.500000
75%,58.000000,80.000000,1.025000,0.0,0.0,123.750000,44.000000,146.000000,4.900000,1.620000
max,80.000000,80.000000,1.025000,0.0,0.0,140.000000,50.000000,150.000000,5.000000,1.780000

In [ ]:
def plot_data(df, title):
    plt.figure(figsize=(20, 10))
    plt.title(title)
    for i, col in enumerate(df.select_dtypes(include=['int', 'float'])):
        plt.subplot(3, 3, i + 1)
        df[col].plot(kind='hist', title=col)
        plt.xlabel(col)
    plt.show()

plot_data(affected, "Affected")

TypeError: 'str' object is not callable