In [10]:
import pandas as pd
from scipy.io import arff

cols = []
with open("chronic_kidney_disease.arff", "r") as f:
    for line in f:
        line = line.strip()
        if line.lower().startswith("@attribute"):
            parts = line.split()
            colname = parts[1].strip("'\"") 
            cols.append(colname)
        elif line.lower().startswith("@data"):
            break

df = pd.read_csv(
    "chronic_kidney_disease.arff",
    comment="@",
    header=None,
    names=cols,
    na_values=["?", " "],
    engine="python",
    on_bad_lines="skip"
)

df.head()

(397, 25)

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wbcc,rbcc,htn,dm,cad,appet,pe,ane,class
0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,121.0,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,NaN,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,...,35,7300,4.6,no,no,no,good,no,no,ckd